@using SoldierTrack.Services.Athlete.Models
@using SoldierTrack.Web.Common.Extensions

@using static SoldierTrack.Web.Common.Constants.WebConstants;

@model AthleteDetailsServiceModel

@{
    this.ViewData["Title"] = "Athlete Details";

    var membership = this.Model.Membership;
    var workouts = this.Model.Workouts;

    var userIsAdmin = this.User.IsInRole(AdminRoleName);
    var userId = this.User.GetId();
}

@if (this.TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        <p>@this.TempData["SuccessMessage"]</p>
    </div>
}

@if (this.TempData["FailureMessage"] != null)
{
    <div class="alert alert-success">
        <p>@this.TempData["FailureMessage"]</p>
    </div>
}

<h1>@this.ViewData["Title"]</h1>

<dl class="row">
    <dt class="col-sm-3">First Name:</dt>
    <dd class="col-sm-9">@this.Model.FirstName</dd>

    <dt class="col-sm-3">Last Name:</dt>
    <dd class="col-sm-9">@this.Model.LastName</dd>

    <dt class="col-sm-3">Phone:</dt>
    <dd class="col-sm-9">@this.Model.PhoneNumber</dd>

    @if (membership != null)
    {
        <dt class="col-sm-3">Membership Start Date:</dt>
        <dd class="col-sm-9">@membership.StartDate.ToString("dd MMM yyyy")</dd>

        @if (membership.TotalWorkoutsCount.HasValue && membership.TotalWorkoutsCount > 0)
        {
            <dt class="col-sm-3">Total Workouts Count:</dt>
            <dd class="col-sm-9">@membership.TotalWorkoutsCount</dd>

            <dt class="col-sm-3">Workouts Left:</dt>
            <dd class="col-sm-9">@membership.WorkoutsLeft</dd>
        }

        <dt class="col-sm-3">Membership Is Monthly:</dt>
        <dd class="col-sm-9">@(membership.IsMonthly ? "Yes" : "No")</dd>

        @if (membership.IsMonthly)
        {
            <dt class="col-sm-3">Expires on:</dt>
            <dd class="col-sm-9">@membership.EndDate!.Value.ToString("dd MMM yyyy")</dd>
        }

        <dt class="col-sm-3">Price:</dt>
        <dd class="col-sm-9">@membership.Price lv.</dd>

        <dt style="margin-top: 1em;" class="col-sm-3">Status:</dt>
        @if (membership.IsPending)
        {
            <dd class="col-sm-1 alert alert-danger">Pending</dd>
        }
        else
        {
            <dd class="col-sm-1 alert alert-success">Active</dd>
        }
    }
    else
    {
        if (userIsAdmin)
        {
            <p class="alert alert-danger">Athlete does not have an active membership!</p>
        }
        else
        {
            <p class="alert alert-danger">You do not have an active membership!</p>
        }
    }
</dl>

<div class="mb-3">
    @if (userIsAdmin)
    {
        <a asp-area="Administrator" asp-controller="Athlete" asp-action="GetAll" class="btn btn-secondary me-2">Back to List</a>
    }
    else
    {
        <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-secondary me-2">Back</a>
    }

    <a asp-area="" asp-controller="Athlete" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning me-2">Edit</a>

    <form asp-area=""
          asp-controller="Athlete"
          asp-action="Delete"
          asp-route-id="@Model.Id"
          asp-route-userId="@Model.UserId"
          class="d-inline"
          method="post"
          onsubmit="return confirm('Are you sure you want to delete the profile?');">
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
</div>

@if (membership != null && !membership.IsPending && userIsAdmin)
{
    <div class="mb-3">
        <a asp-area="Administrator"
           asp-controller="Membership"
           asp-action="Edit"
           asp-route-id="@Model.MembershipId"
           class="btn btn-warning me-2">
            Edit Membership
        </a>
        <form asp-area="Administrator"
              asp-controller="Membership"
              asp-action="Delete"
              asp-route-id="@Model.MembershipId"
              asp-route-athleteId="@Model.Id"
              class="d-inline">
            <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure i want to delete the membership?')">Delete Membership</button>
        </form>
    </div>
}

@if (workouts.Count() > 0)
{
    <h2 class="mb-4">Schedule:</h2>
    <div class="row">
        @foreach (var workout in workouts)
        {
            var workoutIsClosed =
            workout.Date < DateTime.Now.Date ||
            (workout.Date == DateTime.Now.Date && workout.Time < DateTime.Now.TimeOfDay);

            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card h-100 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">@workout.Title</h5>
                        <p class="card-text">@workout.BriefDescription</p>
                        <hr />
                        <p class="card-text"><strong>Date:</strong> @workout.Date.ToString("dd MMM yyyy")</p>
                        <p class="card-text"><strong>Time:</strong> @workout.Time.ToString(@"hh\:mm")</p>
                    </div>
                    <div class="card-footer text-end">
                        <a asp-area=""
                           asp-controller="Workout"
                           asp-action="Details"
                           asp-route-id="@workout.Id"
                           class="btn btn-secondary">
                            Details
                        </a>
                        @if (!workoutIsClosed && userIsAdmin)
                        {
                            <form asp-area="Administrator"
                                  asp-controller="Workout"
                                  asp-action="RemoveFromWorkout"
                                  method="post"
                                  onsubmit="return confirm('Are you sure you want to remove this workout from athlete\'s schedule?')"
                                  class="d-inline">
                                <input type="hidden" name="athleteId" value="@Model.Id" />
                                <input type="hidden" name="workoutId" value="@workout.Id" />
                                <button type="submit" class="btn btn-danger">Remove</button>
                            </form>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    @if (userIsAdmin)
    {
        <p class="alert alert-info text text-center">No workouts scheduled for this athlete yet!</p>
    }
    else
    {
        <p class="alert alert-info text text-center">No workouts in your schedule yet!</p>
    }
}