﻿@using SoldierTrack.Services.Athlete
@using SoldierTrack.Services.Membership
@using SoldierTrack.Web.Common.Extensions

@using static SoldierTrack.Web.Common.Constants.WebConstants

@inject IAthleteService athleteService
@inject IMembershipService membershipService

@{
    var userId = this.User.GetId();
    var userIsAdmin = this.User.IsInRole(AdminRoleName);
    var userIsLogged = this.User?.Identity?.IsAuthenticated;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - SoldierTrack</title>
    <link rel="icon" href="~/images/sf-ic.ico" type="image/x-icon">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="wrapper">
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SoldierTrack</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            @if (userIsAdmin)
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Workout" asp-action="GetAll">Workouts</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="Administrator" asp-controller="Workout" asp-action="Create">Create Workout</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="Administrator" asp-controller="Athlete" asp-action="GetAll">Athletes</a>
                                </li>

                                var pendingCount = await this.membershipService.GetPendingCountAsync();

                                if (pendingCount > 0)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link position-relative d-inline-block" asp-area="Administrator" asp-controller="Membership" asp-action="GetAllPending">
                                            Pending Memberships
                                            <span class="badge bg-danger position-absolute top-0 end-0 translate-middle badge-rounded-pill" style="font-size: 0.75em; padding: 0.2em 0.5em;">
                                                @pendingCount
                                                <span class="visually-hidden">pending memberships</span>
                                            </span>
                                        </a>
                                    </li>
                                }
                            }

                            @if (userIsLogged.GetValueOrDefault() && !userIsAdmin)
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Workout" asp-action="GetAll">Workouts</a>
                                </li>

                                var userIsAthlete = await this.athleteService.UserIsAthleteByUserIdAsync(userId!);

                                if (!userIsAthlete)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="" asp-controller="Athlete" asp-action="Create">Become Athlete</a>
                                    </li>
                                }
                                else
                                {
                                    var athleteId = await this.athleteService.GetIdByUserIdAsync(userId!);

                                    <li class="nav-item">
                                        <a class="nav-link" asp-route-id="@athleteId" asp-area="" asp-controller="Athlete" asp-action="Details">My Profile</a>
                                    </li>
                                    var athleteHasMembership = await this.membershipService.MembershipExistsByAthleteIdAsync(athleteId.Value);

                                    if (!athleteHasMembership)
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link" asp-area="" asp-route-athleteId="@athleteId" asp-controller="Membership" asp-action="RequestMembership">Request Membership</a>
                                        </li>
                                    }

                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="" asp-controller="Exercise" asp-action="Create">Create Exercise</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-route-athleteId="@athleteId" asp-area="" asp-controller="Achievement" asp-action="GetAll">My Achievements</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="" asp-controller="Food" asp-action="Create">Create Food</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-route-athleteId="@athleteId" asp-area="" asp-controller="FoodDiary" asp-action="MyDiary" asp-route-athleteId="@athleteId">Food Diary</a>
                                    </li>
                                }
                            }
                        </ul>
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </nav>
        </header>

        <div class="container">
            <main role="main" class="pb-3">
                @this.RenderBody()
            </main>
        </div>

        <footer class="footer text-center">
            <div class="container">
                &copy; @DateTime.Now.Year - SoldierTrack - 
                <a 
                    target="_blank"
                    href="https://github.com/aleksandarMilev/SoldierTrack" 
                    style="color: white; text-decoration: none;">
                        Open source project
                </a>

            </div>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>