@using SoldierTrack.Services.Achievement.Models

@model IEnumerable<AchievementServiceModel>

@{
    this.ViewData["Title"] = "My PRs";
}

@if (this.TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <p>@this.TempData["SuccessMessage"]</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (this.TempData["FailureMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <p>@this.TempData["FailureMessage"]</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-10">
            <div class="text-center mb-5 p-4 bg-light text-dark rounded">
                <h1 class="display-5">Track Your PRs</h1>
                <p class="lead">Calculate you 1RM and track your progress!</p>
            </div>

            @if (this.Model.Count() > 0)
            {
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Movement</th>
                                <th>Lifted On</th>
                                <th>Lifted</th>
                                <th>For</th>
                                <th>1RM</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var achievement in this.Model)
                            {
                                <tr>
                                    <td>@achievement.ExerciseName</td>
                                    <td><span class="utc-date" data-utc="@achievement.DateAchieved.ToString("o")"></span></td>
                                    <td>@achievement.WeightLifted kg</td>
                                    <td>@achievement.Repetitions reps</td>
                                    <td>@achievement.OneRepMax.ToString("f2") kg</td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@achievement.Id" class="btn btn-success btn-sm">Update</a>
                                        <form 
                                            asp-action="Delete"
                                            asp-route-achievementId="@achievement.Id"
                                            asp-route-athleteId="@achievement.AthleteId"
                                            method="post"
                                            style="display:inline;"
                                            onsubmit="return confirm('You will delete your @achievement.ExerciseName PR, are you sure you want to continue?');">
                                            <button type="submit" class="btn btn-danger btn-sm">Reset</button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <div class="alert alert-info text-center" role="alert">
                    You have no achievements recorded yet.
                </div>
            }
            <div class="alert alert-light shadow-sm d-flex align-items-center mt-4 p-4 rounded-3 col-lg-8 mx-auto" role="alert" style="background-color: #f8f9fa; border: 1px solid #ddd;">
                <i class="bi bi-trophy-fill me-3" style="font-size: 30px; color: #ffcc00;"></i>
                <div class="flex-grow-1">
                    <p class="mb-0">Got a new PR? Add it now and track your progress!</p>
                </div>
                <div>
                    <a asp-controller="Exercise" asp-action="GetAll" class="btn btn-success btn-sm mt-0 ms-3">Select Exercise</a>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="~/js/convertUtcToLocaleDate.js"></script>